@use 'bootstrap';

.glitch {
  position: relative;
  display: inline-block;
  animation: digital-corruption 9s infinite;
}

.glitch:hover {
  animation: digital-corruption 7s infinite, static-noise 0.1s infinite;
}

.glitch::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  opacity: 0;
  animation: horizontal-bars 5s infinite;
  pointer-events: none;
}

@keyframes digital-corruption {

  0%,
  97%,
  100% {
    transform: translate(0) scale(1);
    letter-spacing: normal;
  }

  97.2% {
    transform: translate(-1px, 0) scaleX(0.98);
    letter-spacing: 2px;
  }

  97.4% {
    transform: translate(1px, -1px) scaleY(1.02);
    letter-spacing: -1px;
  }

  97.6% {
    transform: translate(0, 1px) scaleX(1.01);
    letter-spacing: 1px;
  }

  97.8% {
    transform: translate(-1px, -1px) scale(0.99);
    letter-spacing: normal;
  }

  98% {
    transform: translate(2px, 0) scaleY(0.98);
    letter-spacing: 3px;
  }

  98.2% {
    transform: translate(-1px, 1px) scaleX(1.02);
    letter-spacing: -2px;
  }
}


@keyframes static-noise {

  0%,
  100% {
    filter: blur(0px);
  }

  50% {
    filter: blur(0.3px);
  }
}