@use 'bootstrap';

.create-post-box {
  border: 1px solid bootstrap.$primary;
  background: bootstrap.$dark;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: bootstrap.$primary;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-post-input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid bootstrap.$info;
  padding: 0.75rem;
  overflow-y: auto;
  white-space: pre-wrap;
  word-break: break-word;
  color: bootstrap.$primary;

  &:focus {
    outline: none;
    border-color: bootstrap.$primary;
  }
}

.create-post-content {
  resize: vertical;
  min-height: 100px;
  overflow-y: auto;
}

.content-counter {
  text-align: right;
  font-size: 0.85rem;
  color: bootstrap.$primary;
  margin-top: -0.5rem;
}