@use 'bootstrap';

#root {
  display: flex;
  min-height: 100vh;
  min-height: 100svh;
  flex-direction: column;

  main {
    flex: 1;
  }
}

footer {
  background-color: bootstrap.$body-bg;
  text-align: center;
  color: bootstrap.$primary;
}