@use 'bootstrap';

.nav-nav {
  .nav-link {
    color: bootstrap.$primary !important;
    font-family: 'Press Start 2P';

    &:hover {
      color: bootstrap.$light !important;
    }

    &.active {
      color: bootstrap.$light !important;
      text-shadow: 0 0 4px bootstrap.$light;
    }
  }

  .navbar-toggler {
    filter: brightness(1.2);
  }
}

.ascii-logo {
  color: bootstrap.$light;
  font-size: 0.4rem;
  margin: 0;
  line-height: 1;
  border: none;
  white-space: pre;
  background: none;
  padding: 0;
  overflow: hidden;
}