/* Only affects the readonly JSON display */
.json-display-container {
  margin-top: 20px;
}

.json-display-box {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 16px 16px 16px 0px;
}

.json-display-pre {
  font-size: 20px;
  line-height: 1.5rem;
  font-weight: 400;
  overflow-y: hidden;
}

/* Each line */
.json-line {
  margin-left: 10px;
  margin-top: 10px;
}

/* Key styling */
.json-key {
  font-weight: 500;
}

/* Value styling */
.json-value {
  font-weight: 400;
  color: gray;
}