@use 'bootstrap';

.message-page-wrapper {
    flex: 1;
}

.message-timestamp {
    font-size: 0.7rem;
}

.message-input:focus {
    box-shadow: none;
}

.form-control::placeholder {
    color: bootstrap.$primary;
    opacity: 0.4;
    letter-spacing: 1px;
}