@use "bootstrap";

.post-box {
  border-bottom: 1px solid bootstrap.$info;
  border-top: 1px solid bootstrap.$info;
  background: bootstrap.$dark;
  padding: 1rem;
  margin-top: 0, 5rem;
  color: #ddd;
}

.post-focused {
  outline: 3px solid bootstrap.$primary;
  background: bootstrap.$body-bg;
  scroll-margin-top: 80px;
}

.post-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-title {
  margin: 0;
  font-size: 1.2rem;
  color: bootstrap.$primary;
}

.post-info {
  color: bootstrap.$primary;
  font-size: 0.8rem;
}

.post-content {
  border-top: 1px solid bootstrap.$info;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 0.75rem;
  overflow-y: auto;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: "Noto Sans", sans-serif;
  color: bootstrap.$primary;
}

.clickable {
  cursor: pointer;

  &:hover {
    color: bootstrap.$primary;
    text-decoration: underline;
  }
}

.post-outline {
  border: 1px solid bootstrap.$primary;
}

.post-tab-fixed-size {
  width: 160px;
}

.post-button-fixed-size {
  width: 160px;
}