@use "bootstrap";

.post-box {
  border: 1px solid bootstrap.$primary;
  background: bootstrap.$dark;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 0, 5rem;
  color: #ddd;
}

.post-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-title {
  margin: 0;
  font-size: 1.2rem;
  color: bootstrap.$primary;
}

.post-content {
  background: #1a1a1a;
  border: 1px solid bootstrap.$info;
  padding: 0.75rem;
  border-radius: 2px;
  overflow-y: auto;
  min-height: 100px;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: "Noto Sans", sans-serif;
  color: bootstrap.$primary;
}