@use 'bootstrap';

.root-btn {
    font-family: 'Press Start 2P', 'Noto Sans', sans-serif;
    transition: 0.1s ease-in-out;

    &:hover {
        filter: brightness(1.2);
    }
}

.root-btn-key {
    font-weight: bold;
    color: bootstrap.$dark;
}

.root-btn-text {
    color: bootstrap.$dark;
    font-weight: bold;
}
.small-button {
    font-size: 0.6rem;
    padding: 0.3rem 0.6rem;
}