@use "bootstrap";

.user-info-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-info-border:focus {
  outline: none;
  height: 100%;
}

.user-info-border.focused {
  outline: 1px solid bootstrap.$primary !important;
  background-color: bootstrap.$dark !important;
  height: 100%;
}