@use "bootstrap";

.user-info-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-info-scope:focus {
  outline: none;
  height: 100%;
}

.user-info-scope.focused {
  outline: none;
  height: 100%;
}