@use "bootstrap";

.conversation-aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.conversation-list:focus {
    outline: none;
}

.conversation-list.focused {
    border: 1px solid bootstrap.$primary !important;
    background-color: bootstrap.$dark !important;
}

.conversation-aside>h5 {
    margin-bottom: 0;
}

.conversation-list {
    margin-top: 0;
}

.conversation-aside h5 {
    font-size: 20px;
}

h5 {
    font-size: 20px;
}

.conversation-list {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    .conversation-item {
        width: 100%;
        padding: 0.2rem;
        color: bootstrap.$primary;
        font-size: 0.9rem;
        cursor: pointer;
        position: relative;
        white-space: pre;
    }
}