@use "bootstrap";
@use "header";
@use "footer";
@use "rootButton";
@use "messagePage";
@use "ConversationList";
@use "jsonlogin";
@use 'jsondisplay';
@use 'userinfo';
@use 'createpost';
@use 'post';

// Import fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');