@use "bootstrap";
@use "header";
@use "footer";
@use "rootButton";
@use "messagePage";
@use "ConversationList";
@use "jsonlogin";
@use 'jsondisplay';
@use 'userinfo';
@use 'modals';
@use 'createpost';
@use 'post';
@use 'userprofile';

// Import fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";